* {
  padding: 0%;
  color: rgb(2, 27, 109);
}

body{
  box-sizing: border-box;
}

li {
  list-style: none;
}

.hdr {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.error-message {
  color: red;
}

.root, form, .src-container, .city-item, .chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 0px 50px;

}

input, .back {
  border: none;
  margin: 3px 5px;
  height: 40px;
  border-radius: 15px;
  padding: 0px 10px;
  text-align: center;
  width: 222px;
  -moz-box-shadow: inset 0 0 4px rgb(2, 27, 109);
  -webkit-box-shadow: inset 0 0 4px rgb(2, 27, 109);
  box-shadow: inset 0 0 4px rgb(2, 27, 109);
  transition: .6s;
 }

 input:hover, .back:hover{
  -moz-box-shadow:    inset 0 0 10px rgb(2, 27, 109);
  -webkit-box-shadow: inset 0 0 10px rgb(2, 27, 109);
  box-shadow:         inset 0 0 10px rgb(2, 27, 109);
  background-color: rgb(2, 27, 109);
  color: beige;
}

 .back:hover{
  letter-spacing: 2px;
  font-weight: bolder;

 }


body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,0.6474789744999563) 0%, rgba(72,133,116,0.7707283597032564) 100%); 
}


.city-item {
  margin-top: 5px;
  padding: 7px;
  align-items: flex-start;
  border: 2px rgb(2, 27, 109) solid;
  border-radius: 4%;
  width: 100%;
  transition: .7s;
}

.city-item:hover{
  -moz-box-shadow:    inset 0 0 10px rgb(2, 27, 109);
  -webkit-box-shadow: inset 0 0 10px rgb(2, 27, 109);
  box-shadow:         inset 0 0 10px rgb(2, 27, 109);

}
  

.city-item p{
line-height: 7px;
}

.chart-container {
  margin-top: 40px;
  width:100%
}



.chart{
  margin: 82px 5px 55px;
  width: 100%;
}

#close {
align-self: flex-end;
background-color: rgba(63,94,251,.1);
border: ridge;
border-radius: 22%;
padding: 0 5px;
transition: 1s;
font-weight: 600;
border: 2px rgb(2, 27, 109) solid;
}

#close:hover{
background-color: darkred;
border-color:gainsboro;
color: gainsboro;
}

@media (min-width: 480px) { 
  form {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #src-text {
    width: 300px;
  }
  
  #src-btn {
    width: 100px;

}
  
 }
